In [1]:
import os
import pandas as pd
import numpy as np
import sqlalchemy

In [2]:
daily_act_path = "fitbit_data/dailyActivity_merged.csv"
daily_act = pd.read_csv(daily_act_path)
daily_act

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8877689391,5/8/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8877689391,5/9/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8877689391,5/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8877689391,5/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8877689391,5/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [3]:
daily_act.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [4]:
sleep_day_path = "fitbit_data/sleepDay_merged.csv"
sleep_day = pd.read_csv(sleep_day_path)
sleep_day[["date", "time", "am/pm"]] = sleep_day.SleepDay.str.split(" ", expand=True)
sleep_day

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed,date,time,am/pm
0,1503960366,4/12/2016 12:00:00 AM,1,327,346,4/12/2016,12:00:00,AM
1,1503960366,4/13/2016 12:00:00 AM,2,384,407,4/13/2016,12:00:00,AM
2,1503960366,4/15/2016 12:00:00 AM,1,412,442,4/15/2016,12:00:00,AM
3,1503960366,4/16/2016 12:00:00 AM,2,340,367,4/16/2016,12:00:00,AM
4,1503960366,4/17/2016 12:00:00 AM,1,700,712,4/17/2016,12:00:00,AM
...,...,...,...,...,...,...,...,...
408,8792009665,4/30/2016 12:00:00 AM,1,343,360,4/30/2016,12:00:00,AM
409,8792009665,5/1/2016 12:00:00 AM,1,503,527,5/1/2016,12:00:00,AM
410,8792009665,5/2/2016 12:00:00 AM,1,415,423,5/2/2016,12:00:00,AM
411,8792009665,5/3/2016 12:00:00 AM,1,516,545,5/3/2016,12:00:00,AM
412,8792009665,5/4/2016 12:00:00 AM,1,439,463,5/4/2016,12:00:00,AM

In [5]:
sleep_day.dtypes

Id                     int64
SleepDay              object
TotalSleepRecords      int64
TotalMinutesAsleep     int64
TotalTimeInBed         int64
date                  object
time                  object
am/pm                 object
dtype: object

In [6]:
fitbit = pd.merge(daily_act, sleep_day, left_on=['Id', 'ActivityDate'], right_on = ['Id', 'date'])

In [7]:
fitbit.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories', 'SleepDay',
       'TotalSleepRecords', 'TotalMinutesAsleep', 'TotalTimeInBed', 'date',
       'time', 'am/pm'],
      dtype='object')

In [8]:
fitbit_clean = fitbit[['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories', 'TotalMinutesAsleep', 'TotalTimeInBed']]

In [9]:
fitbit_clean.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
TotalMinutesAsleep            int64
TotalTimeInBed                int64
date                         object
dtype: object